@use "/src/style/color";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

$font-family-default: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
  "Malgun Gothic", "맑은 고딕", arial, sans-serif;
$font-color-default: color.$Gray900;

$pc-xlarge: 60px;
$pc-large: 45px;
$pc-medium: 32px;
$pc-small: 21px;
$pc-xsmall: 12px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-small: 300;

// TODO : 해당 부분에 mobile 적용
@mixin ResumeMainTitle {
  font-size: $pc-xlarge;
  font-weight: $font-weight-bold;
}

@mixin ResumeSectionTitle {
  font-size: $pc-large;
  font-weight: $font-weight-bold;
}

@mixin ResumeSectionDetailTitle {
  font-size: $pc-medium;
  font-weight: $font-weight-medium;
}

@mixin PostionText {
  font-size: $pc-xsmall;
}

@mixin DurationText {
  font-size: $pc-xsmall;
  color: color.$Gray600;
}

// default font style
body {
  font-size: $pc-small;
  color: $font-color-default;
  line-height: 1.2;
  font-family: "Pretendard";
}
