@use "/src/style/color";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

$font-family-default: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
  "Malgun Gothic", "맑은 고딕", arial, sans-serif;
$font-color-default: color.$Gray900;

$pc-xlarge: 60px;
$pc-large: 45px;
$pc-medium: 32px;
$pc-small: 21px;
$pc-xsmall: 12px;

$mobile-h1-size: 36px;
$mobile-h2-size: 24px;
$mobile-b1-size: 20px;
$mobile-b2-size: 18px;
$mobile-b3-size: 16px;
$mobile-p1-size: 14px;
$mobile-p2-size: 12px;
$mobile-p3-size: 10px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-small: 300;

@mixin H1 {
  font-size: $mobile-h1-size;
  font-weight: $font-weight-bold;
}

@mixin H2 {
  font-size: $mobile-h2-size;
  font-weight: $font-weight-bold;
}

@mixin B1 {
  font-size: $mobile-b1-size;
  font-weight: $font-weight-medium;
}

@mixin B2 {
  font-size: $mobile-b2-size;
  font-weight: $font-weight-medium;
}

@mixin B3 {
  font-size: $mobile-b3-size;
  font-weight: $font-weight-medium;
}

@mixin P1 {
  font-size: $mobile-p1-size;
  font-weight: $font-weight-medium;
}

@mixin P2 {
  font-size: $mobile-p2-size;
  font-weight: $font-weight-small;
}

@mixin P3 {
  font-size: $mobile-p3-size;
  font-weight: $font-weight-small;
}

// default font style
body {
  font-size: $pc-small;
  color: $font-color-default;
  line-height: 1.2;
  font-family: "Pretendard";
}
