@use "/src/style/color";

$font-family-default: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
  "Malgun Gothic", "맑은 고딕", arial, sans-serif;
$font-color-default: color.$Gray900;

$font-size-42: 42px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-21: 21px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-8: 8px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-small: 300;

// TODO : 해당 부분에 mobile 적용
@mixin ResumeMainTitle {
  font-size: $font-size-24;
}

@mixin ResumeSectionTitle {
  font-size: $font-size-18;
}

@mixin ResumeSectionTitle {
  font-size: $font-size-18;
}

// default font style
body {
  font-size: $font-size-14;
  color: $font-color-default;
  line-height: 1.2;
}
